@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
    --primary-color: #f9fafc;
    --primary-color-dark: #fdfdff;
    --secondary-color: #fafafd;
    --text-dark: #ffffff;
    --text-light: #6b7280;
    --extra-light: #edf0f3;
    --max-width: 1200px;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body-login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d1f8d;
}

.container-login{
    width: 1000px;
    display: flex;
    max-width: 1000px;
    background: #fff;
    border-radius: 15px;
    box-shadow:  0 10px 15px rgba(0, 0, 0, 0,1);
}

.login{
    width: 500px;
}

.form-login {
    width: 250px;
    margin: 60px auto;
    
}

.h1-login{
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.hr-judul {
    border-top: 2px solid #1d1f8d;
}

.p-login {
    text-align: center;
    margin: 10px;
}

.kanan {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-bottom: 5%;
  }
  
  .kanan img {
    width: 450px; 
    height: auto; 
    margin-bottom: 30px; 
    margin-top: 50px;
  }
  
  .kanan p {
    width: 80%; 
    margin: 0 auto;
    font-size: 14px; 
    line-height: 1.5; 
    color: #333; 
  }
  

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 90%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

.button-login {
    border: none;
    outline: none;
    padding: 8px;
    width: 250px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #1d1f8d;
}

.button-login :hover {
    background: rgba(214, 86, 64, 1);

}


.body-regis {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #3b55e4;
  }
  
  .container-regis {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .h1-regis {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-regis {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
input,select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
}
  
  .button-regis {
    background-color: #2468e6;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-regis:hover {
    background-color: #1e4f89;
  }
  
  a {
    color: #2468e6;
    text-decoration: none;
  }
  

  .body-dashboard {
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#1d1f8d;
    z-index: 99;
  }
  
  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: var(--primary-color-dark);
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.5s;
  }
  
  ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
  }

  .wrapper .sidebar{
    background: #363636;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 100px 0;
  }
  
  .wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
  }
  
  .wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
  }
  
  .wrapper .sidebar .profile h3{
    color: #fdfcfc;
    margin: 30px 0 5px;
  }
  
  .wrapper .sidebar .profile p{
    color: rgb(250, 248, 248);
    font-size: 14px;
    margin: 10px;
  }

  .wrapper .sidebar .profile .info-box {
    background-color: #fbfcfb; 
    color: rgb(17, 17, 17);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto; 
    width: fit-content;
    cursor: pointer; 
  }
  
  
  
  .section-dashboard {
    background-color: var(--extra-light);
  }
  
  .section-dashboard_container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .subtitle-dashboard {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .title-dashboard {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 30px;
    
  }
  
  .title-dashboard span {
    font-weight: 800;
  }
  
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  
  .hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  .hire__me:hover {
    background-color: var(--primary-color-dark);
  }
  
  .image-dashboard {
    display: grid;
    place-items: center;
  }
  
  .image-dashboard img {
      width: 430px;
      height: 430px;
      margin-right: 20px;
  }
  
  
  @media (width < 750px) {
    nav .checkbox {
      display: block;
    }
  
    ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: var(--extra-light);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  
    nav #check:checked ~ ul {
      left: 0;
    }
  
    ul li a {
      font-size: 1.25rem;
    }
  
    .section__container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .image {
      grid-area: 1/1/2/2;
    }
  
    .action__btns {
      margin: auto;
    }
  }

  .body-inputnilai {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 150px;
    text-align: center;
    margin-left: 300px;
  }
  
  .Bagian3 {
    width: 100%;
    max-width: 700px;
    margin: auto;
  }
  
  .h2-inputnilai {
    margin-bottom: 80px;
    font-size: 1.6rem;
  }
  
  .box-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .box {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .box p {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  
  .btn-lihat {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-lihat:hover {
    background-color: #298
  }
  
  .body-akun {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 270px;
    padding: 120px;
    text-align: center;
  }
  
  .search-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
  }
  
  .table-container {
    width: 100%; 
  }
  
  .search-bar {
    width: 25%; 
  }
  
  input[type="text"] {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
  }

  .container-akun {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .h2-akun {
    margin-bottom: 50px;
    font-size: 1.6rem;
  }
  
  .table-container {
    border: 1px solid #32308a;
    padding: 10px;
    border-radius: 5px;
  }
  
  .table-akun {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #3f3996;
    padding: 8px;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .text-center-akun {
    text-align: center;
  }
  
  .status-select {
    padding: 5px 10px;
    border: 1
  }  

  .btn-kelola {
    padding: 9px; 
    border: none; 
    background-color: #a6a7a8; 
    color: #0e0d0d; 
    cursor: pointer;
    transition: background-color 0.3s; 
  }

  .btn-kelola:hover {
    background-color: #a6a7a8;
  }
  
  .body-logout {
    font-family: sans-serif;
    text-align: center;
    background: #ffffff;
}

.container-logout {
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fafbfc;
}

.h1-logout {
    margin-top: 0;
    margin-bottom: 20px;
}

.btn-logout, .btn-cancel {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel {
    background-color: #dc3545;
}

.body-daftarkp {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 100px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px; 
}

.table-container {
  width: 100%; 
}

.search-bar {
  width: 25%; 
}

.input-daftarkp[type="text"] {
  width: 100%; 
  padding: 8px; 
  box-sizing: border-box; 
}

.container-daftarkp {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.h2-daftarkp {
  margin-bottom: 50px;
  font-size: 1.6rem;
}

.table-container {
  border: 1px solid #32308a;
  padding: 10px;
  border-radius: 5px;
}

.table-daftarkp {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #3f3996;
  padding: 8px;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.text-center-daftarkp {
  text-align: center;
}

.status-select {
  padding: 5px 10px;
  border: 1
}  

.btn-kelola {
  padding: 9px; 
  border: none; 
  background-color: #a6a7a8; 
  color: #0e0d0d; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.btn-kelola:hover {
  background-color: #a6a7a8;
}

.body-daftarta {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 100px;
  text-align: center;
}
 
.title-inputnilaikpta {
  text-align: center;  
  margin-top: 100px;
  padding: 20px; 
  margin-left: 200px; 
}

.quotes-box {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 50px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  margin-right: 300px;
}

.quotes-box table {
  width: 100%; 
  border-collapse: collapse; 
}

.quotes-box th,
.quotes-box td {
  padding: 10px; 
  border: 1px solid #eee; 
  text-align: left; 
}

.quotes-box th {
  font-weight: bold; 
}

.quotes-box input[type="number"] {
  width: 50px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}


.quotes-box tfoot {
  font-weight: bold;
}

#total-value {
  text-align: center; 
}


#calculate-button {
  margin-top: 10px; 
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

#calculate-button:hover {
  background-color: #3e8e41;
}

.quotes-box {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  padding-bottom: 10px; 
}

#simpan-button {
  margin: 0 auto; 
  padding: 8px 20px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

#simpan-button:hover {
  background-color: #3e8e41; 
}


.title-hasilnilai {
  text-align: center;  
  margin-top: 100px;
  padding: 20px; 
margin-left: 300px; 
}

.quotes-box1 {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 100px;
  width: fit-content;
  margin-left: 575px;
  border-radius: 5px;  
}

.quotes-box1 table {
  width: 100%; 
  border-collapse: collapse; 
}

.quotes-box1 th,
.quotes-box1 td {
  padding: 10px; 
  border: 1px solid #eee; 
  text-align: left; 
}

.quotes-box1 th {
  font-weight: bold; 
}

.quotes-box1 input[type="number"] {
  width: 50px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}


.quotes-box1 tfoot {
  font-weight: bold;
}